body {
  width: 100%;
  height: auto;
  background-color: #fff;
  color: #000;
  font-family: Apercu, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
}

header {
  padding: 0;
  margin: 30px;
}

.tittle-text {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender-selector {
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  gap: 5px;
}

.gender-buttom {
  border-radius: 5px;
  padding: 3px;
  text-decoration: none;
  color: #000;
}

.gender-buttom:hover {
  background-color: black;
  color: white;
}

.cSearchAndIcons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cSearchAndIcons img {
  gap: 30px;
  width: 30px;
  height: 30px;
}

.cSearchAndIcons input {
  margin-left: 5px;
}

.filters ul {
  gap: 10px;
}

.point {
  cursor: pointer;
}

.ul-item-typology {
  display: flex;
  gap: 20px;
  list-style: none;
}

.ul-item-typology a {
  text-decoration: none;
  color: black;
}

.p-container {
  padding-right: 5%;
}

.p-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.p-container img {
  width: 100%;
  height: 100%;
}
